.border {
    border: 2px solid red;
    margin: 3px;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m1 {
    margin: 5px;
}

.p1 {
    padding: 10px;
}



/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;  /* Width of the scrollbar */
    background-color: #2c2c2c;  /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;  /* Color of the scrollbar thumb */
    border-radius: 6px;  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a;  /* Color of the thumb on hover */
}

/* For Firefox */
scrollbar-width : thin; /* Makes the scrollbar thinner */
scrollbar-color : #4a4a4a #2c2c2c; /* Thumb color and background color */
